.appName{
  margin-left: 5px;
}

.auth-button{
  margin-right: 5px;
}

.suwahasaTitle{
  margin-bottom: 0;
  margin-left: 10px;
  color: #062767;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.headerInfo{
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  text-align: right;
  font-weight: 500;
  color: #062767;
}
