<!-- <app-header></app-header> -->
<div class="mat-typography" style="height: 100%;">
  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8 removeMarginsPaddings">
      <div class="row pageHeader removeMarginsPaddings">
        <h1 class="mat-title" style="margin-top: 8px;">User Registration</h1>
      </div>
      <div class="row errorContainer removeMarginsPaddings" *ngIf="!isValid">
        <div class="col-sm-12">
          {{invalidText}}
        </div>
      </div>
      <form class="mat-body">
        <div class="row">
          <div class="col-sm-6 form-group">
            <label for="firstName">First Name<span class="required">*</span></label>
            <input type="text" id="firstName" class="form-control form-control-sm" [(ngModel)]="user.firstName"  name="firstName" required>
          </div>
          <div class="col-sm-6 form-group">
            <Label for="lastName">Last Name<span class="required">*</span></Label>
            <input type="text" id="lastName" class="form-control form-control-sm"  [(ngModel)]="user.lastName" name="lastName" required>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-4 form-group">
            <label for="age">Age<span class="required">*</span></label>
            <input type="text" id="age" class="form-control form-control-sm" [(ngModel)]="user.age" name="age" required>
          </div>
          <div class="col-sm-4 form-group">
            <Label for="blood">Blood Group<span class="required">*</span></Label>
            <select class="form-control form-control-sm" (change)="onBloodGroupChange($event)" required>
              <option [value]="item" [selected]="user.bloodGroup == item" *ngFor="let item of bloodGroups" name="district">{{item}}</option>
            </select>
          </div>
          <div class="col-sm-4 form-group">
            <label for="nic">National Id<span class="required">*</span></label>
            <input type="text" id="nic" class="form-control form-control-sm" [(ngModel)]="user.nic" name="nic" maxlength="10" required>
          </div>

        </div><hr/>

        <div class="row">
          <div class="col-sm-6 form-group">
            <Label for="email">Email<span class="required">*</span></Label>
            <input type="email" id="email" class="form-control form-control-sm" [(ngModel)]="user.email" name="email" required>
          </div>
          <div class="col-sm-6 form-group">
            <Label for="contact">Contact Number<span class="required">*</span></Label>
            <input type="text" id="contact" class="form-control form-control-sm" [(ngModel)]="user.contactNumber"
            name="contactNumber" maxlength="10" onkeypress='return event.charCode >= 48 && event.charCode <= 57' required>
          </div>
        </div>

        <br/><hr/>

        <div class="row">
          <div class="col-sm-6 form-group">
            <label for="address1">Address line 1<span class="required">*</span></label>
            <input type="text" id="address1" class="form-control form-control-sm" [(ngModel)]="user.addressLine1" name="addressLine1" required>
          </div>
          <div class="col-sm-6 form-group">
            <label for="address2">Address line 2</label>
            <input type="text" id="address2" class="form-control form-control-sm" [(ngModel)]="user.addressLine2" name="addressLine2" name="address2">
          </div>
        </div>

        <div class="row">
          <div class="col-sm-6 form-group">
            <label for="city">City<span class="required">*</span></label>
            <input type="text" id="city" class="form-control form-control-sm" [(ngModel)]="user.city" name="city" required>
          </div>
          <div class="col-sm-6 form-group">
            <Label for="district">District<span class="required">*</span></Label>
            <select class="form-control form-control-sm" (change)="onDistrictChange($event)" required>
              <option [value]="item.name" [selected]="user.district == item.name" *ngFor="let item of districts" name="district">{{item.name}}</option>
            </select>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-6 form-group">
            <label for="province">Province<span class="required">*</span></label>
            <input type="text" id="province" class="form-control form-control-sm" [(ngModel)]="user.province" name="province" disabled required>
          </div>
          <div class="col-sm-6 form-group">
            <Label for="postal">Postal Code</Label>
            <input type="text" id="postal" class="form-control form-control-sm" [(ngModel)]="user.postalCode" name="postalCode">
          </div>
        </div>

        <br/><hr/>

        <div class="row">
          <div class="col-sm-6 form-group">
            <label for="guardian">Parent/Guardian<span class="required">*</span></label>
            <input type="text" id="guardian" class="form-control form-control-sm" [(ngModel)]="user.parentOrGuardian" name="parentOrGuardian" required>
          </div>
          <div class="col-sm-6 form-group">
            <Label for="econtact">Emergency Contact<span class="required">*</span></Label>
            <input type="text" id="econtact" class="form-control form-control-sm" [(ngModel)]="user.emergencyContact" name="emergencyContact">
          </div>
        </div>

        <br/><hr/>

        <div class="row">
          <div class="col-sm-6 form-group">
            <label for="username">Username<span class="required">*</span></label>
            <input type="text" id="username" class="form-control form-control-sm" [(ngModel)]="user.username" name="username" required>
          </div>
          <div class="col-sm-6 form-group">
            <Label for="password">Password<span class="required">*</span></Label>
            <input type="password" id="password" class="form-control form-control-sm" [(ngModel)]="user.password" name="password">
          </div>
        </div>

        <div class="row" style="margin-bottom: 15px;">
          <div class="col-sm-8" style="vertical-align: middle;"><a routerLink="/login" style="text-decoration: none;">Already registered?</a></div>
          <div class="col-sm-2 form-group">
            <button class="btn btn-primary from-control form-control-sm modalButton" (click)="onRegisterClicked()" >Register</button>
          </div>
          <div class="col-sm-2 form-group">
            <button class="btn btn-danger from-control form-control-sm modalButton" (click)="onCancelClicked()" >Cancel</button>
          </div>
        </div>
      </form>
    </div>
    <div class="col-sm-2"></div>
  </div>
</div>

<!--
	[Password] [nvarchar](max) NULL,
	[Username] [nvarchar](max) NULL,
-->
