.hospitalTitle{
    margin-top: 5px;
    color: #343a40;
    text-align: left;
}

.info{
    margin-top: 10px;
    .count{
        text-align: right;
    }
}

.applyColor{
    color: #343a40;
}

.info-card{
  background-color: #f0eded;
}
