<div class="footerStyle">
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <div class="mat-headline">Suwahasa.lk</div>
        <div class="mat-body" style="color: rgb(173, 173, 173);">
          Leading the Way in Medical Execellence, Trusted Care.
        </div>
      </div>
      <div class="col-sm-3">
        <!-- <div class="mat-title">Important Links</div>
        <div class="mat-body">Call: (+94) 11-212-2225</div>
        <div class="mat-body">Email: info@suwahasa.com</div>
        <div class="mat-body">Address: Suwahasa Ave, Colombo 07</div> -->
      </div>
      <div class="col-sm-3">
        <!-- <div class="mat-title">Contact Us</div>
        <div class="mat-body">Call: (+94) 11-212-2225</div>
        <div class="mat-body">Email: info@suwahasa.com</div>
        <div class="mat-body">Address: Suwahasa Ave, Colombo 07</div> -->
      </div>
    </div>
    <hr/>
    <div class="row">
      <div class="col">
        <div class="mat-body">© 2021 Suwahasa.lk All Rights Reserved </div>
      </div>
      <div class="col" style="justify-content: end; text-align: right;">
        <mat-icon>facebook</mat-icon>
        <mat-icon>whatsapp</mat-icon>
        <mat-icon>alternate_email</mat-icon>
        <mat-icon>spa</mat-icon>
        <mat-icon>voice_chat</mat-icon>
        <mat-icon>monochrome_photos</mat-icon>
      </div>
    </div>
  </div>
</div>
