.footerStyle {
    background-color:#062767;
    padding: 20px;
    margin-top: 10px;
    position: relative;
    width: 100%;
    color: white;
    font-weight: 400;
    height: 180px;
    bottom: 0;
}

.mat-body{
  color: rgb(173, 173, 173);
}

mat-icon{
  margin-left: 5px;
}
